<template name="intro">
    {{> header}}
    <div class="jumbotron">
        <div class="container-fluid">
            <h1>Comment anything, anywhere on the internet.</h1>
            <p>In today's world internet is providing us with content from all different outlets. Wouldn't it be better to
                share the stories you care with others and express what is your take on it with out someone blocking your comment?.
                With little help from  <a href="http://icancomment.meteor.com" target="_blank">icancomment.com</a> you will
                 be able to share your thoughts on stories with family and friends or everyone.</p>
            <p><a href="/plugin" target="_blank" class="btn btn-success btn-lg">Get plugin now</a></p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <h2>How it works</h2>
                <p>To make it work, you need to do two things,
                    <ul>
                    <li>Get plugin for the browser of your choice.
                        <ul>
                            <li>Firefox</li>
                            <li>Chrome - supported</li>
                            <li>Safari</li>
                            <li>Opera</li>
                            <li>IE</li>
                        </ul>
                    </li>
                    <li>Login with your choice of social media login to start sharing your comments.
                    <ul>
                        <li>Simple user name and password - supported</li>
                        <li>Google+</li>
                        <li>Facebook</li>
                        <li>LinkedIn</li>
                    </ul>
                    </li>

            </ul>. </p>
                <p><a href="/plugin-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
            </div>
            <div class="col-xs-4">
                <h2>Trending news</h2>
                <p>This enables you to see what are the stories people are talking now for good or bad.
                    This enables the society to boost the stories that are relevant not the noise.</p>
                <p><a href="/trending" target="_blank" class="btn btn-success">Check it out &raquo;</a></p>
            </div>
            <div class="col-xs-4">
                <h2>News cloud</h2>
                <p>This shows what is happening all around us in news. What are the topics most talked about, this
                    gives an idea what is trending now.</p>
                <p><a href="/cloud" target="_blank" class="btn btn-success">Check it out &raquo;</a></p>
            </div>
        </div>
        {{> footer}}
    </div>
</template>