<template name="intro">
    {{> header}}
    <div class="jumbotron">
        <div class="container-fluid">
            <h1>Comment on anything, anywhere on the web.</h1>
            <p>Not all websites support comments and even websites that do support comments will selectively disable
                comments on specific stories. Beyond that, websites moderate comments. Comment moderation may be for
                legitimate reasons, like eliminating spam, but it may be for less legitimate reasons like suppressing
                information that contradicts the narrative of the author or media company.</p>
                <p>ICanComment allows readers to comment on any page without being concerned that their comment will be
               deleted and readers can even comment on sites and pages that don't have comments.</p>

                <p>ICanComment depends on browser plugins to add commenting functionality to any page on the internet.
            </p>
            <p><a href="https://chrome.google.com/webstore/detail/i-can-comment/gncmddaodcibpcombldkakghpmmakcoa" class="btn btn-success btn-lg">Get plugin now</a></p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <h2>How it works</h2>
                <p>To make it work, you need to do two things,
                    <ul>
                    <li>First, get <a href="https://chrome.google.com/webstore/detail/i-can-comment/gncmddaodcibpcombldkakghpmmakcoa">the plugin</a> for the Chrome browser.
                        <ul>
                            <li><a href="https://chrome.google.com/webstore/detail/i-can-comment/gncmddaodcibpcombldkakghpmmakcoa">Chrome</a></li>
                        </ul>
                    </li>
                    <li>Then, click on the comment bubble that will appear on the bottom right of any webpage to signup and login.</li>



            </ul>. </p>
                <p><a href="/plugin-tutorial/" class="btn btn-success">Learn More &raquo;</a></p>
            </div>
            <div class="col-xs-6">
                <h2>Trending news</h2>
                <p>This enables you to see what stories people are talking now.
                    This enables the community to surface the stories that are most relevant.</p>
                <p><a href="/trending" class="btn btn-success">Check it out &raquo;</a></p>
            </div>

        </div>
        {{> footer}}
    </div>
</template>